<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js preload ie" lang="en"><![endif]-->
<!--[if gte IE 9]><!--><html class="no-js preload" lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title><%= current_page.data.title || "Helsinki Open Device Lab" %></title>
    <meta name="author" content="@viljamis">
    <meta name="description" content="Helsinki open device lab is established to help the local web developer community to be able to test their work on the ever-growing range of mobile devices">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- <link rel="stylesheet" href="css/style-v032.css">
    <script src="js/images-v02.js"></script> -->
    <script src="//use.typekit.net/hvo1evv.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :images %>
  </head>
  <body class="<%= page_classes %>">
    <%= yield %>

    <%= javascript_include_tag :all %>
    <script>
      // iOS fixes
      VS.scaleFix();
    </script>
    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34490222-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
