<div class="header">
  <%= image_tag "logo_packed.png", class: "logo", alt: "Logo" %>
  <div data-picture data-alt="Helsinki Open Device Lab" class="illustration">
    <div data-src="<%= image_path("office-sml.jpg") %>"></div>
    <div data-src="<%= image_path("office-mdm.jpg") %>" data-media="(max-width: 599px) and (min-device-pixel-ratio: 1.3), (max-width: 599px) and (-webkit-min-device-pixel-ratio: 1.3), (max-width: 599px) and (-o-min-device-pixel-ratio: 2/1), (max-width: 599px) and (min--moz-device-pixel-ratio: 1.3)"></div>
    <div data-src="<%= image_path("office-mdm.jpg") %>" data-media="(min-width: 600px)"></div>
    <div data-src="<%= image_path("office-lrg.jpg") %>" data-media="(min-width: 768px) and (min-device-pixel-ratio: 1.3), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.3), (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1), (min-width: 768px) and (min--moz-device-pixel-ratio: 1.3)"></div>
    <div data-src="<%= image_path("office-lrg.jpg") %>" data-media="(min-width: 1400px)"></div>
    <!-- Fallback content for non-JS browsers -->
    <noscript><img src="img/office-sml.jpg" alt="Helsinki Open Device Lab" class="illustration"></noscript>
  </div>
  <div class="wrapper">
    <div class="m_wrap">
      <div class="nav">
        <%= image_tag "logo_packed.png", class: "logo sec", alt: "Logo" %>
        <h1><b>Helsinki</b> <i>open device lab</i></h1>
        <a href="#location" class="button" id="to_location">Visit the lab</a>
      </div>
    </div>
    <h2><span>Helsinki open device lab is established to help the local web developer community to be able to test their work on the ever-growing range of mobile&nbsp;devices.</span></h2>
  </div>
</div>
<div class="section about">
  <div class="wrapper">
    <div class="col col1">
      <h3>About the project</h3>
      <p>The web doesn&#8217;t live on a desk anymore and we now need to test our work on multiple devices, instead of just few desktop browsers. <a href="http://viljamis.com/blog/2012/helsinki-open-device-lab/" rel="external">Read more</a></p>
    </div>
    <div class="col col2">
      <h3>Visit the lab</h3>
      <p>The idea is that anyone can pop round and use the devices. We are located in the Sörnäinen neighbourhood. Please message us ahead of your visit. <a href="#location">View location</a></p>
    </div>
    <div class="col col3">
      <h3>Participate in the project</h3>
      <p>Anyone can participate and help the developer community of Helsinki by lending their old devices to the open device&nbsp;lab. <a href="mailto:me@viljamis.com">Participate</a></p>
    </div>
  </div>
</div>
<div id="devices" class="section devices">
  <div class="wrapper">
    <h2>Device Library</h2>
    <table class="responsive_table sortable">
      <thead>
        <tr>
          <th class="sorttable_sorted">Device<span id="sorttable_sortfwdind">&nbsp;▴</span></th>
          <th>OS</th>
          <th>Screen Size</th>
          <th>Contributor</th>
        </tr>
      </thead>
      <tbody>
        <%- data.lab.devices.sort_by(&:name).each do |device| %>
          <tr>
            <td data-title="Device"><%= device.name %></td>
            <td data-title="OS"><%= device.os %></td>
            <td data-customkey="30" data-title="Screen Size"><%= device.screen_size %></td>
            <td data-title="Contributor">
              <% if device.contributor_url %>
                <%= link_to device.contributor, device.contributor_url, rel: "external" %>
              <% else %>
                <%= device.contributor %>
              <% end %>
          </tr>
        <%- end %>
      </tbody>
    </table>
    <p class="footnote">Screen size measured using <a href="http://mqtest.io" rel="external">MQtest.io tool</a>. If two sizes are listed, then that specific device reports different sizes between portrait and landscape mode. Remember that in many cases, these measurements don&#8217;t match the real dimensions of the&nbsp;device.</p>
    <h2>Legacy Library</h2>
    <table class="responsive_table sortable">
      <thead>
        <tr>
          <th class="sorttable_sorted">Device<span id="sorttable_sortfwdind">&nbsp;▴</span></th>
          <th>OS</th>
          <th>Screen Size</th>
          <th>Contributor</th>
        </tr>
      </thead>
      <tbody>
        <%- data.legacy.devices.sort_by(&:name).each do |device| %>
          <tr>
            <td data-title="Device"><%= device.name %></td>
            <td data-title="OS"><%= device.os %></td>
            <td data-customkey="30" data-title="Screen Size"><%= device.screen_size %></td>
            <td data-title="Contributor">
              <% if device.contributor_url %>
                <%= link_to device.contributor, device.contributor_url, rel: "external" %>
              <% else %>
                <%= device.contributor %>
              <% end %>
          </tr>
        <%- end %>
      </tbody>
    </table>
    <p class="footnote">Legacy library phones are not kept charged. If you need to have access to devices on this list ask beforehand</p>
  </div>
</div>
<div id="location" class="section location">
  <div class="wrapper">
    <div class="location_info">
      <h2>Visit the Lab</h2>
      <p>The open space is kindly provided by <a href="http://www.kiskolabs.com/" rel="external">Kisko Labs</a>, and is located in Sörnäinen, Helsinki. The lab is open during the business hours. Before coming, make sure that the space isn’t occupied by sending message to us beforehand.</p>
    </div>
    <a href="https://goo.gl/maps/T4SL8cT7MyB2" rel="external" class="map" title="View location on Google Maps">
      <img src="https://maps.googleapis.com/maps/api/staticmap?center=60.18,24.96&zoom=14&scale=2&size=640x480&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:%7C60.186207669776635,24.965883493423462" alt="Helsinki Open Device Lab" class="illustration">
    </a>
    <div class="loc_col_wrap">
      <div class="location_col">
        <p>Vilhonvuorenkatu&nbsp;11&nbsp;D<br>
          00500 Helsinki, FI</p>
      </div>
      <div class="location_col location_col2">
        <p><a href="http://twitter.com/kiskolabs" rel="external">Tweet to @kiskolabs</a><br><a href="mailto:contact@kiskolabs.com">contact@kiskolabs.com</a></p>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="wrapper">
    <div class="sponsors">
      <a href="http://developer.blackberry.com" class="blackberry" rel="external">Blackberry</a>
      <a href="http://www.cover-up.com" class="coverup" rel="external">Cover-Up</a>
      <a href="http://developers.google.com" class="google" rel="external">Google</a>
      <a href="http://www.hpwebos.com" class="hp" rel="external">HP</a>
      <a href="http://www.developer.nokia.com" class="nokia" rel="external">Nokia</a>
      <a href="http://developer.sonymobile.com" class="sony" rel="external">Sony</a>
    </div>
  </div>
</div>
